<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Application Submitted!</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Dear <span th:text="${user.name}"></span></h2>
    <br>
    <h2>We have received your Application!</h2>
    <br><a href="/api/applicantservice">Back to Main</a>
<!--     <br><a href="/api/applicantservice/applicationview">View Application</a>
 --></div>

<!-- <div th:if="${session.message}"
th:classappend="${session.message}" class="alert alert-success"
role="alert">

<p th:text="${session.message}"></p>
<th:block th:text="${session.removeAttribute('message')}"></th:block>
</div> -->
</body>
</html>